{% extends 'master.html' %}

{% block title %}
    Delete image
{% endblock %}

{% block content %}

    <p>Are you sure you want to delete selected image?</p>
        <div class="card-body">
            <img src="{{image.path.url}}">
            <blockquote class="blockquote mb-0">
                <p>{{ image.description }}</p>
                <footer class="blockquote-footer">
                    Author:
                    <cite title="Source Title">
                        {{ image.owner.username }}
                    </cite>
                </footer>
            </blockquote>
        </div>

    <form method="post" enctype="multipart/form-data" action="{% url 'images:delete' id %}">
        {% csrf_token %}

        <input type="submit" class="btn btn-primary btn-lg" value="Delete"/>
    </form>

{% endblock %}